.button {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  padding: 6px 12px;
  border-radius: 3px;
  font-weight: 600;
  color: #000000;

  &--dark {
    border: 1px solid #999999;
    background-color: #666666;
    color: #ffffff;
  }

  &:disabled {
    border: 1px solid #eeeeee;
  }

  &--dark:disabled {
    background: #444444;
    border: 1px solid #444444;
    color: #cccccc;
  }

  &:not(:disabled):hover {
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
  }

  &--dark:not(:disabled):hover {
    background-color: #777777;
  }
}