.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid #666666;

  @media screen {
    min-height: 80px;
  }

  &--is-saturday {
    background-color: #eee;
  }

  &--is-sunday {
    background-color: #ddd;
  }

  &--is-holiday {
    border: 1px solid crimson;
  }

  &__number {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
  }
  
  &--is-sunday &__number {
    color: crimson;
  }

  &--is-holiday &__number {
    background-color: crimson;
    color: white;
  }

  &__weekday {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    color: #666666;
  }

  &--is-sunday &__weekday {
    color: crimson;
  }

  &--is-holiday &__weekday {
    background-color: crimson;
    color: white;
  }
}