.file-input {
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__button {
    text-align: left;
  }

  &__button-icon {
    margin-right: 6px;
  }

  &__button-label {
    vertical-align: middle;
  }

  &__filename {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
  }
}
