.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;

  &__settings {
    background-color: #333333;
  }

  &__info {
    background: hsl(200 80 90);
    padding: 10px 20px;
  }

  &__calendar {
    height: 100%;

    @media screen {
      overflow: auto;
    }
  }
}