.app {
  --app-hue: 340;

  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;

  @media screen {
    overflow: hidden;
  }

  &__sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-column: 1;
    grid-row: 1;
    width: 400px;
    background-color: #eeeeee;
    overflow: hidden;

    @media print {
      display: none;
    }
  }

  &__title {
    grid-row: 1;
    padding: 20px;
    font-size: 26px;
    line-height: 1.3;
  }

  &__settings {
    grid-row: 2;
    overflow: auto;
  }

  &__calendar {
    grid-column: 2;
    box-sizing: border-box;
    
    @media screen {
      padding: 20px;
      overflow: auto;
    }
  }
}
