.app {
  --app-hue: 340;

  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  &__sidebar {
    grid-column: 1;
    width: 400px;
    background-color: #eeeeee;

    @media print {
      display: none;
    }
  }

  &__title {
    padding: 20px;
    font-size: 26px;
    line-height: 1.3;
  }

  // &__settings {}

  &__calendar {
    grid-column: 2;
    box-sizing: border-box;
    
    @media screen {
      padding: 20px;
      overflow: auto;
    }
  }
}
